<template>
  <div>
    <div style="display: flex; justify-content: flex-end; margin-bottom: 20px;">
      <n-button @click="showAddModal" type="primary">Add</n-button>
    </div>
    <n-data-table :columns="columns" :data="profiles" :loading="loading"/>
    <n-modal v-model:show="isModalVisible" preset="dialog" title="Add profile">
      <n-form @submit.prevent="handleSubmit">
        <n-form-item label="Name">
          <n-input :value="newProfile.firstName" @input="newValue => { newProfile.firstName = newValue }" placeholder="Enter name"/>
        </n-form-item>
        <n-form-item label="Surname">
          <n-input :value="newProfile.lastName" @input="newValue => { newProfile.lastName = newValue }" placeholder="Enter surname"/>
        </n-form-item>
        <n-form-item label="Age">
          <n-input :value="newProfile.age" @input="newValue => { newProfile.age = newValue }" placeholder="Enter age" type="number"/>
        </n-form-item>
        <n-button @click="handleSubmit" native-type="submit" type="primary">Add</n-button>
        <n-button @click="isModalVisible = false">Cancel</n-button>
      </n-form>
    </n-modal>
  </div>
</template>


<script lang="ts">
import { reactive, defineComponent, onMounted, ref, h } from 'vue';
import { loadProfiles } from '../../database';
import { NButton, NDataTable, NModal, NForm, NFormItem, NInput } from 'naive-ui';
import { v4 as uuidv4 } from 'uuid';

export default defineComponent({
  components: { NButton, NDataTable, NModal, NForm, NFormItem, NInput },
  setup() {
    const profiles = ref([]);
    const loading = ref(true);
    const isModalVisible = ref(false);
    const newProfile = reactive({ firstName: '', lastName: '', age: 0 });

    const columns = [
      {
        title: 'Action',
        key: 'actions',
        render(row) {
          return h(NButton, { onClick: () => deleteProfile(row.uid) }, { default: () => 'Delete' });
        },
      },
      { title: 'Name', key: 'firstName' },
      { title: 'Surname', key: 'lastName' },
      { title: 'Age', key: 'age' },
    ];

    onMounted(async () => {
      try {
        const data = await loadProfiles();
        profiles.value = data;
      } catch (error) {
        console.error("Error loading profiles:", error);
      } finally {
        loading.value = false;
      }
    });

    const showAddModal = () => {
      isModalVisible.value = true;
    };

    const handleSubmit = () => {


      const newId = uuidv4();
      const profileToAdd = { uid: newId, ...newProfile, age: Number(newProfile.age) };
      if (!newProfile.firstName || !newProfile.lastName || !newProfile.age) {
        alert('All fields must be completed');
        return;
      }
      profiles.value.push(profileToAdd);

      Object.assign(newProfile, { firstName: '', lastName: '', age: 0 });
      isModalVisible.value = false;
    };

    const deleteProfile = (uid) => {
      profiles.value = profiles.value.filter(profile => profile.uid !== uid);
    };

    return { profiles, loading, columns, showAddModal, isModalVisible, newProfile, handleSubmit, deleteProfile };
  },
});
</script>
